@model Library.Models.User

<h1 class="mb-3">Create User</h1>
<hr />

<form asp-route="userCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row py-3">
        <div class="col-md-4 form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-route="userIndex" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}